body{
    background-color: #444;
    color: #fff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

h1,h2{
    font-weight: 300;
}
